/*
HOJA DE ESTILOS 
Esto es un comentario de bloque en CSS

@autor: iñigo
@version: 1.0
@tags: css
@licencia: mit

*/

/*Reset básico para eliminar estilos de todos los browser-user-agent)*/
/**{
    margin: 0;
    padding: 0;
}*/

body {
    font-size: 16px;
    font-family: x Arial, sans-serif;
    padding: 20px;

}

code {
    color: red;
    background-color: lightgray;
    font-family: cursive;

}



h1 {
    color: #09C;
    font-size: 3em;
    text-align: center;

}

h2,
h3 {
    text-align: center;

}

a {
    color: rgb(11, 35, 90);
    margin: auto;

    font-weight: 800;
}

a:hover {
    background-color: lightblue;
}


table {
    width: 50%;
    margin: auto;
}





td {
    border: 3px solid #0099CC;
    /* shorthand : esto es una abreviación*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

td:hover {
    background-color: violet;
}

.parallax {
    background-image: url('/pruebaTecnica/images/imagenOffice.jpg');
    height: 380px;
    background-attachment: fixed;
    /*Estático, no se mueve con el scroll*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Coje todo el ancho de pantalla*/
    border: 2px solid rgb(12, 38, 97);
    border-radius: 5px;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15), 2px 1px 6px rgba(34, 31, 206, 0.45);

}

.parallax img {
    display: block;
    margin: auto;
    padding-top: 100px;
}


.parallax h1 {
    color: rgb(12, 38, 97);
    text-decoration: underline;
    text-transform: uppercase;
}

.boton {
    background-color: rgb(114, 199, 220);
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;

}

.box-animation {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #09C;
    padding-bottom: 2px;
}

.box-animation:hover {
    transition-duration: 2s;
    background-color: chocolate;
    border-radius: 50%;
}


.imagen {
    width: 1100px;
    height: 900px;
}

.tachado {
    text-decoration: line-through;
}

.parrafoLorem {
    font-size: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0099CC;
}

.tituloListas {
    color: red;
    text-decoration: underline;
}



.subrayado {
    text-decoration: underline;
}

.texto-centrado {
    text-align: center;
}

.nav-bar {
    height: 50px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(114, 199, 220);
    text-align: center;
    border: 2px solid rgb(12, 38, 97);
    ;

}



.centrado {
    display: block;
    margin: 50px;
}

section {
    border: 3px solid rgb(12, 38, 97);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(114, 199, 220);
    -webkit-box-shadow: 12px 10px 15px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 12px 10px 15px 0px rgba(0, 0, 0, 0.32);
}